/* wirefram styles */
/* code global first */
/* * {
    border: solid .5px red;
} */

/* global styles */

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color:#34568B ;
    font-size: 16px;
}

/* header styles */
header h1{
    display: flex;
    justify-content: flex-start;
    padding: 1em;
    font-size: 1.75em;
}

header nav{
    display: flex;
    justify-content: end;
    min-height: 50px;
    position: relative;
}

/* Body Styles */
.container{
    display: flex;
    position: relative;
    top: 53px;
    left: -25px;
    width: 900px;
}

#me{
    border: 1px solid antiquewhite;
    padding: 1em;
}

#stark {
        position: relative;
        width: 13em;
        padding: 2em;
        left: 16em;
}

#side{
    display: flex;
    width: 8%;
    padding-left: 15px;
    margin-left: 15px;
    float: left;
    font-style: italic;
    position: relative;
    top: 82px;
}

#projects{
    display: flex;
    width: 8%;
    padding-left: 15px;
    margin-left: 15px;
    float: left;
    font-style: italic;
    position: relative;
    top: 30em;
    right: 8em;
}


