/* code global first
* {
    border: solid .5px red;
} */

/* global styles */
:root{
    --background-blue: #453486

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
    background-color: var(--background-blue);
    font-size: 16px;
    color: antiquewhite;
}

/* header styles */
header h1{
    display: flex;
    justify-content: flex-start;
    padding: 1em;
    font-size: 2em;
    background-color: #467853;
}

header nav{
    display: flex;
    justify-content: end;
    min-height: 50px;
    position: relative;
}

nav a{
    text-decoration: none;
    padding-right: 11px;
}

/* Body Styles */
body{
    background-color: #453486;
    padding: 10px;
    border: 1px solid black;
}
.about-me{
    display: flex;
    flex-direction: row;
    padding: 1em;
}

#side{
    display: flex;
    width: 9em;
    font-size: 1.5em;
    padding-left: 25px;
    
}

.descr{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.descr p{
    margin-top: 1em;
}

#stark{
    display: flex;
    flex-direction: row;
    width: 17em;
    padding: 1em;
    min-height: auto;
}


p{
    text-align: center;
    padding: 1em;
}

/* Content Section Styles */
.content {
    display: flex;
    flex-direction: column; /* Change from "row" to "column" */
    padding: 2em;
  }
  
  #projects {
    width: 5.8em;
    font-size: 1.5em;
  }
  
  .projectimages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

#prework{
    display: flex;
    flex-direction: row;
    width: 45em;
    padding: 1em;
}

.astroproject {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  #astro {
    width: 45em;
    padding: 1em;
  }

/* Contact Section Styling */
#contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#con{
    display: flex;
    width: 5.8em;
    font-size: 1.5em; 
    padding-left: 21px;
    position: relative;
    left: 29px;
}

ul li{
    list-style-type: none;
    display: inline;
    padding-left: 36px;
}

ul li a{
    text-decoration: none;
}

#arcade{
    max-height: 550px;
    max-width: 490px;
    position: relative;
    right: 85px;
}
