code global first
* {
    border: solid .5px red;
}

/* global styles */

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif; 
    background-color: rgba(46, 95, 174, 0.73);
    font-size: 16px;
    color: antiquewhite;
}

/* header styles */
header h1{
    display: flex;
    justify-content: flex-start;
    padding: 1em;
    font-size: 2em;
    background-color: #467853;
}

header nav{
    display: flex;
    justify-content: end;
    min-height: 50px;
    position: relative;
    right: 1em;
}

nav a{
    text-decoration: none;
    padding-right: 11px;
}

/* Body Styles */
.about-me{
    display: flex;
    flex-direction: row;
    padding: 2em;
}

#side{
    display: flex;
    width: 10.3em;
    font-size: 1.5em;
    border-right: 1px solid black;
}

.descr{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

#stark{
    display: flex;
    flex-direction: row;
    width: 17em;
    padding: 1em;
    min-height: auto;
}


p{
    text-align: center;
    padding: 1em;
}

/* Content Section Styles */
.content{
    display: flex;
    flex-direction: row;
    padding: 2em;
}

#projects{
    display: flex;
    width: 5.8em;
    font-size: 1.5em;
    border-right: 1px solid black;
}

.projectimages{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column-reverse; */
    justify-content: center;
    align-items: center;
    width: 100%;
}

#prework{
    display: flex;
    flex-direction: row;
    width: 45em;
    padding: 1em;
}

/* Contact Section Styling */
#contact{
    display: flex;
}

#con{
    display: flex;
    width: 5.8em;
    font-size: 1.5em;
    border-right: 1px solid black;  
    padding-left: 21px;
}

ul li{
    list-style-type: none;
    display: inline;
    padding-left: 36px;
}

ul li a{
    text-decoration: none;
}


